@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}
body,html{
    scroll-behavior: smooth;
}
// VARIABLES
$default: #000;
$accent: #7B61FF;
$accent-gradient:linear-gradient(to right, #cc2b5e, #753a88);
$prph: #7A7A7A;



//MIXINS
@mixin cta-btn{
    outline: none;
    padding: 15px 15px;
    font-size: 18px;
    background: $accent-gradient;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
    &:hover{
        box-shadow: 0px 15px 25px rgba(124, 167, 175, 0.274);
        transform: translateY(-2px);
    }
}
@mixin btn{
    border: none;
    outline: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: $default;
}
.social-media{
    margin-top: 30px;
    .social-media-link{
        @include btn;
        width: 60px;
        height: 60px;
        background: #c4c4c4;
        text-align: center;
        border-radius: 10px;
        line-height: 60px;
        margin: 5px;
        a{
            font-size: 30px;
            color: #fff;
        }
        &:nth-child(1){
            background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        }
        &:nth-child(2){
            background: #229ED9;
        }
        &:nth-child(3){
            background: #FF0000;
        }
    }
}
nav{
    width: 100%;
    min-height: 10px;
    padding: 30px 200px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ececec;
    z-index:9999;
    background: #fff;
    ul{
        list-style: none;
        display: flex;
    }
    .nav-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-brand{
            font-size: 24px;
            font-weight: 600;
            color:$default;
        }
        #nav-mobile{
            @include cta-btn;
            width: 40px;
            height: 40px;
            margin: 15px;
            display: none;
        }
    }
    #navbar-content{
        display: flex;
        justify-content: center;
        align-items: center;

        .navbar-links{
            .navbar-item{
                margin: 0px 20px;
                font-size: 18px;
                font-weight: 500;
                a{
                    color: $default;
                }
            }
        }
        .navbar-cta{
            @include cta-btn;
        }
    }
}
.container{
    width: 100%;
    height: 100%;
    padding: 0px 200px;
}
#hero-section{
    width: 100%;
    min-height: auto;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    .hero-banner{
        width: 100%;
        height: 640px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%)  scale(2);
            height: inherit;
        }
        &:before{
            content:'';
            display: block;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.7));
        }
        .banner-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 2;
            h2{
                font-weight: 600;
                font-size: 48px;
                margin-bottom: 10px;
                color: #dedede;
            }
            p{
                overflow-wrap: break-word;
                inline-size: 400px;
                font-size: 24px;
                width: 800px;
                margin-bottom: 50px;
                color: lightgray;
            }
            .cta{
                @include cta-btn;
            }
        }
    }
}
#services-section{
    width: 100%;
    position: relative;
    min-height:auto;
    h3{
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 70px;
    }
    .services-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .service{
            width: 700px;         
            margin: 10px;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 15px 25px rgba(124, 167, 175, 0.274);
            img{
                width: 100%;
            }
        }
    }
}
#about-section{
    min-height: auto;
    width: 100%;
    h3{
        margin-top: 130px;
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    p{
        text-align: justify;
        font-size: 24px;
        margin: 15px 0px;
    }
    ul{
        margin: 0px 10px;
        list-style: none;
        li{
            width: auto;
            height: auto;
            margin: 5px;
            padding: 10px;
            border-radius: 5px;
            background: rgb(250, 250, 250);
             font-size: 20px;
             font-weight: 500;
        } 
     }
}
#contacts-section{
    width: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap:80px;
    padding-top: 60px;
    .map-location{
        width: 600px;
        height: 480px;
        display: flex;
        justify-content: center;
        margin-right: 80px;
    }
    .contact-box{
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        h5{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
            margin-bottom: 15px;
            i{
                font-size: 24px;
                margin-right: 5px;
            }
        }
        a{
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}
footer{
    width: 100%;
    height: 50px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #333;
        font-weight: 500;
    }
}







//MEDIA SCREEN

// NAVBAR
@media screen and (max-width:1190px){
    nav{
        min-height: 60px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        .nav-title{
            width: 100%;
            justify-content: space-around;
            align-items: center;
            #nav-mobile{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        #navbar-content{
            width: 100%;
            display: none;
            .navbar-links{
                flex-direction: column;
            }
        }
    }
    .container{
        padding: 0px 100px;
    }
    #hero-section{
        padding: 0;
        width: 100%;
        min-height: 100vh;
        .hero-banner{
            margin-top: 100px;
            .banner-content{
                h2{
                    font-size: 36px;
                }
                p{
                    inline-size: 400px;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    .container{
        padding: 0px 50px;
    }
}
@media screen and (max-width:1190px){
    #navbar-content.off{
        display: none;
    }
    #navbar-content.on{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width:1839px){
    #service-section{
        .services-box{
            .service{
                width: 100%;
                img{
                    width:100%;
                }
            }
        }
    }
    #about-section{
        .about-img{
            width: 100%;
        }
    }
}
@media screen and (max-width:630px){
    .container{
        padding: 0px 20px;
    }
    #about-section{
        p{
            font-size: 18px;
        }
    }
}
@media screen and (max-width:1600px){
    #contacts-section{
        padding: 50px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .map-location,
        .contact-box{
            margin: 20px;
            width: 100%;
        }
    }
}
@media screen and (max-width:500px)
{
    nav{
        .nav-title{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar-links{
            width: 100%;
            flex-direction: column;
        }
        .navbar-cta{
            width: 100%;
            margin: 15px 0px;
        }
    }
    #hero-section{
        .hero-banner{
            display: flex;
            justify-content: center;
            align-items: center;
            .banner-content{
                padding: 10px;
                h2{
                    font-size: 26px;
                    overflow-wrap: break-word;
                }
                p{
                    inline-size: 300px;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    #navbar-content.off{
        display: none;
    }
    #navbar-content.on{
        flex-direction: column;
        display: flex;
    }
}
